<!-- start finance container -->
<div class="base-container">
    <!--start heading block-->
    <div class="header">
        <!-- start header block -->
        <div class="header-content">
            <ng-content select="[header]"></ng-content>
        </div>
        <!-- end header block -->
    </div>
    <!-- end heading block -->

    <!-- start content block -->
    <div class="content">
        <div class="body-content">
            <ng-content select="[content]"></ng-content>
        </div>

        <div class="footer-content">
            <ng-content select="[footer]"></ng-content>
        </div>
    </div>
    <!-- end content block -->
</div>
<!-- end finance container -->
