%ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

%img-res {
  object-fit: cover;
  max-height: 250px;
  min-height: 250px;
  min-width: 100%;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: relative;
}

%row-flow {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}


%gradient-bg, .gradient-bg {
  background: #150f41;
  background: -moz-linear-gradient(45deg, #150f41 0%, #2f2276 100%);
  background: -webkit-linear-gradient(45deg, #150f41 0%,#2f2276 100%);
  background: linear-gradient(45deg, #150f41 0%,#2f2276 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#150f41', endColorstr='#2f2276',GradientType=1 );
}

%button-bg {
  background: #3DC2F1;
  background: -moz-linear-gradient(left, #3dc2f1 0%, #6b58ea 100%);
  background: -webkit-linear-gradient(left, #3dc2f1 0%, #6b58ea 100%);
  background: linear-gradient(to right, #3dc2f1 0%, #6b58ea 100%);
  background-image: -webkit-linear-gradient(left, #3dc2f1 0%, #5c56a4 100%), -webkit-linear-gradient(left, #3dc2f1 0%, #5c56a4 100%);
  background-image: -moz-linear-gradient(left, #3dc2f1 0%, #5c56a4 100%), -moz-linear-gradient(left, #3dc2f1 0%, #5c56a4 100%);
  background-image: -o-linear-gradient(left, #3dc2f1 0%, #5c56a4 100%), -o-linear-gradient(left, #3dc2f1 0%, #5c56a4 100%);
  background-image: linear-gradient(to right, #3dc2f1 0%, #5c56a4 100%), linear-gradient(to right, #3dc2f1 0%, #5c56a4 100%);
}

%button-bg-invalid {
  background: #FF446A;
}

%slider-bg {
  background: #3dc2f1;
  background: -moz-linear-gradient(left, #3dc2f1 0%, #6b58ea 100%);
  background: -webkit-linear-gradient(left, #3dc2f1 0%,#6b58ea 100%);
  background: linear-gradient(to right, #3dc2f1 0%,#6b58ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3dc2f1', endColorstr='#6b58ea',GradientType=1 );
}

%text {
  text-transform: uppercase;
  background: linear-gradient(to top, #3DC2F1 0%, #6B58EA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

