<section class="weather-search" class="form-group">
    <div id="search">
        <div class="icon">
            <div class="rtoc"></div>
        </div>
    </div>

    <div class="search_container">
        <input class="form-control" type="search" placeholder="Enter city name" id="city" [(ngModel)]="cityName"
               name="cityname" (input)="onSearchLocationWithEvent($event)" (ended)="onSearchLocationWithEvent()">
        <br/>
        <button mat-raised-button  color="primary" class="btn large close" [disabled]="disabledForecastButton" (click)="onSubmitDatabinding()"
                type="submit">Search Forecast
        </button>
        <!--{{disabledForecastButton}}-->
        <!--<input type=search name=search placeholder="Search your city...">-->
        <div class="close"></div>
    </div>
</section>
<weather-list [WeatherForecastList]="weatherForecastData"></weather-list>


