

<section class="weather-search" class="form-group">
  <form   >
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Enter city name" id="city" [(ngModel)] ="cityName" name="cityname" (input)="onSearchLocationWithEvent($event)">

    </div>
    <button mat-button class="button primary close" [disabled]="disabledForecastButton" (click) ="onSubmitDatabinding()" type="submit">Forecast</button>
    {{disabledForecastButton}}
    <!--{{cityName}}-->
  </form>
  <weather-list [WeatherForecastList]="weatherForecastData"></weather-list>
</section>

