<div class="col-sm-2 col-md-4">
    <div class="weather-card one {{ weather.weather[0].main }}">
        <div class="top">
            <div class="wrapper">
                <div class="mynav">
                    <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
                    <a href="javascript:;"><span class="lnr lnr-cog"></span></a>
                </div>
                <h1 class="heading"> {{ weather.weather[0].main }}</h1>
                <h3 class="location">Dhaka, Bangladesh</h3>
                <p class="temp">
                    <span class="temp-value">{{ weather.main.temp }}</span>
                    <span class="deg">0</span>
                    <a href="javascript:;"><span class="temp-type">C</span></a>
                </p>
            </div>
        </div>
        <div class="bottom">

            <div class="wrapper">
                <ul class="forecast">
                    <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
                    <li class="active">
                        <span class="date">WindSpeed</span>
                        <span class="lnr lnr-moon condition">
									<span class="temp">23<span class="deg">0</span><span
                                            class="temp-type">C</span></span>
								</span>
                    </li>

                </ul>
            </div>

        </div>
    </div>

    <mat-card class="full-width">

        <h2 style="text-transform: uppercase;"> {{ weather.weather[0].main }}</h2>
        <h3 > {{ weather.weather[0].description }}</h3>
        <p >Wind speed (meter/sec): {{ weather.wind.speed }}</p>
        <span class="temperature">Temperature (celsius): {{ weather.main.temp }} </span>
        <p>{{ weather.dt_txt}}</p>
        <a [routerLink]="['/detail-report']">Detail Report</a>
    </mat-card>
</div>
