@media screen and (min-width: 768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.center-me {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  width: auto;
  overflow: hidden;
}
