$color-palette: (
  primary-dark: #150F41,
  primary: #029AAE,
  secondary: #E52050,
  tertiary: #EE7C11,
  success: #0ED971,
  warning: #FAC105,
  alert-color: #EC407A,
  footer: #1D1F24,
) !default;

