.app-loading {
  .logo {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 50px 50px 0;

    background: url('../../assets/images/logo-icon-white.png') no-repeat 50%;
    background-size: 100px 100px;
  }
}
